.about-section {
  position: relative;
  color: #30332e;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 140px; /* Keep padding for text section only */
  box-sizing: border-box;
}

/* Inner content stays centered with padding */
.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}

.about-subtitle {
  text-transform: uppercase;
   font-family: "Effra Light";
  font-size: 18px;
  line-height: 20px;
  color: #979796;
  margin-bottom: 20px;
}

.about-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.about-title {
  font-family: "Effra Light";
  font-size: 90px;
  line-height: 76.5px;
  color: #ad986e;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.about-title span {
  display: inline-block;
  margin-right: 16px;
  animation: fadeUp 0.6s ease forwards;
}

.about-title span:nth-child(1) { animation-delay: 0.1s; }
.about-title span:nth-child(2) { animation-delay: 0.2s; }
.about-title span:nth-child(3) { animation-delay: 0.3s; }
.about-title span:nth-child(4) { animation-delay: 0.4s; }
.about-title span:nth-child(5) { animation-delay: 0.5s; }

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}

.about-paragraphs p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-link {
  text-decoration: none;
  font-family: 'Effra Regular', sans-serif;
  color: #30332e;
  position: relative;
}

.about-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #010400;
  transition: 0.3s;
}

.about-link:hover::after {
  height: 2px;
}

/* VIDEO SECTION FULL WIDTH */
.about-video-wrapper {
  position: relative;
  width: 100vw;      /* Full viewport width */
  height: 600px;
  overflow: hidden;
  margin: 0;         /* Remove margin */
  padding: 0;        /* Remove padding */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.about-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
