.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Effra Light";
    
    text-transform: uppercase;
}

.hero-video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hero-content{
    position: relative;
    margin-top: 1%;
    z-index: 2;
    color: #ffffff;
    text-align: left;
    padding: 0 20px;
    
}

.hero-title {
  font-size: 5rem;
  margin-bottom: 20px;
  font-family: "Effra Light";
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}


@media (max-width:768px) {
      .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
  }
}